{:paths ["src"]

 :deps  {babashka/process             {:mvn/version "0.5.22"}
         cheshire/cheshire            {:mvn/version "5.13.0"}
         clj-commons/clj-yaml         {:mvn/version "1.0.29"}
         com.cleancoders.c3kit/apron  {:mvn/version "3.0.0"}
         org.clojure/tools.cli        {:mvn/version "1.1.230"}
         org.clojure/tools.deps.alpha {:mvn/version "0.15.1254"}}

 :aliases
 {:isaac    {:main-opts ["-m" "isaac.main"]}

  :spec     {:extra-paths ["spec"]
             :extra-deps  {speclj/speclj                       {:mvn/version "3.13.0"}
                           io.github.slagyr/gherclj            {:git/tag "v1.3.0" :git/sha "9c3bb1d"}
                           isaac.cli.greeter/isaac.cli.greeter {:local/root "modules/isaac.cli.greeter"}
                           marigold.bridge/marigold.bridge     {:local/root "modules/marigold.bridge"}
                           marigold.longwave/marigold.longwave {:local/root "modules/marigold.longwave"}}
             :main-opts   ["-m" "dev.spec-main"]}

  :test     {:extra-paths ["spec"]
             :extra-deps  {speclj/speclj                       {:mvn/version "3.13.0"}
                           io.github.slagyr/gherclj            {:git/tag "v1.3.0" :git/sha "9c3bb1d"}
                           isaac.cli.greeter/isaac.cli.greeter {:local/root "modules/isaac.cli.greeter"}
                           marigold.bridge/marigold.bridge     {:local/root "modules/marigold.bridge"}
                           marigold.longwave/marigold.longwave {:local/root "modules/marigold.longwave"}}}

  :mutate   {:extra-paths ["spec"]
             :extra-deps  {clj-mutate/clj-mutate    {:git/url "https://github.com/slagyr/clj-mutate"
                                                     :git/sha "edf0362dee919f75541ce173ca7144c1230cd4de"}
                           org.clojure/tools.reader {:mvn/version "1.4.2"}
                           speclj/speclj            {:mvn/version "3.13.0"}
                           io.github.slagyr/gherclj {:git/tag "v1.3.0" :git/sha "9c3bb1d"}}
             :main-opts   ["-m" "clj-mutate.core"]}

  :features {:extra-paths ["spec" "spec/marigold/bridge/resources" "spec/marigold/longwave/resources"]
             :extra-deps  {speclj/speclj                       {:mvn/version "3.13.0"}
                           io.github.slagyr/gherclj            {:git/tag "v1.3.0" :git/sha "9c3bb1d"}
                           isaac.cli.greeter/isaac.cli.greeter {:local/root "modules/isaac.cli.greeter"}
                           marigold.bridge/marigold.bridge     {:local/root "modules/marigold.bridge"}
                           marigold.longwave/marigold.longwave {:local/root "modules/marigold.longwave"}}
             :main-opts   ["-m" "gherclj.main"
                           "-f" "features" "-s" "isaac.**-steps"
                           "-t" "~slow" "-t" "~wip"]}}}
